<div class="container">
    <div>
        <button mat-raised-button (click)="volverMenu()">Volver al menú</button>
    </div>
    <div class="game-selection" *ngIf="!gameIsSelected">
        <div class="title">
            <p> Elija una de las tres modalidades del juego</p>
        </div>
        <div class="button-container">
            <div class="game-select-button">
                <button mat-raised-button (click)="startGame(1)">Modo 1</button>
            </div>
            <div class="game-select-button">
                <button mat-raised-button (click)="startGame(2)">Modo 2</button>
            </div>
            <div>
                <button mat-raised-button (click)="startGame(1)">Modo 3</button>
            </div>
        </div>        
    </div>
    <div class="game-one" *ngIf="gameIsSelected == true && selectedGame == 1 " >
        <app-modo-uno></app-modo-uno>
    </div>
    <div class="game-two" *ngIf="gameIsSelected == true && selectedGame == 2 " >
        <app-modo-dos></app-modo-dos>
    </div>
</div>
