.container{
  display: flex;
  flex-direction: column;
}

.title{
  text-align: center;
}

.game-selection{
  padding-top: 2em;
  padding-bottom: 2em;
}

.button-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game-select-button{
  padding-right: 1em;
}