<div>
    <form class="form" [formGroup]="modoDosFormGroup">
      <div class="configuracion" *ngIf="!empezoJuego">
        <div>
          <mat-label *ngIf="modo === 3">
            <p style="text-align: center;"> Está jugando contra otro jugador </p>
          </mat-label>
          <mat-label *ngIf="modo != 3">
            <p style="text-align: center;"> Está jugando contra la máquina </p>
          </mat-label>
          <mat-form-field class="example-full-width">
            <mat-label>
              <p style="text-align: center;"> Número para que el contrincante adivine </p>
            </mat-label>
            <input type="text" formControlName="numeroUsuario" matInput
              placeholder="Escriba un número de 4 dígitos sin repetir">
          </mat-form-field>
        </div>
        <div *ngIf="modo === 3">
          <mat-form-field class="example-full-width">
            <mat-label>
              <p style="text-align: center;"> Número para que el contrincante adivine </p>
            </mat-label>            
            <input type="text" formControlName="numeroUsuarioDos" matInput
              placeholder="Escriba un número de 4 dígitos sin repetir">
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button (click)="guardarNumeroUsuario()">Aceptar</button>
        </div>
      </div>
      <div class="juego" *ngIf="!!empezoJuego">
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Número</mat-label>
            <input type="text" formControlName="numeroAdivinarUsuario" matInput
              placeholder="Escriba el número que cree que la máquina eligió">
          </mat-form-field>
          <div *ngIf="modo === 3">
            <mat-form-field class="example-full-width">
              <mat-label>Número Segundo jugador</mat-label>
              <input type="text" formControlName="numeroAdivinarUsuarioDos" matInput
                placeholder="Escriba el número que cree que la máquina eligió">
            </mat-form-field>
          </div>
        </div>
        <div>
          <button mat-raised-button (click)="adivinarUsuario()">Adivinar</button>
        </div>
      </div>
      <div class="resultado">
        <h3> {{resultadoUltimoIntento}}</h3>
      </div>
      <div class="tables">
        <div class="table">
          <mat-table [dataSource]="datosTablaUsuario" class="mat-elevation-z8">
    
            <ng-container matColumnDef="numeroUsuario">
              <mat-header-cell *matHeaderCellDef> Número </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.numeroUsuario}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="fijas">
              <mat-header-cell *matHeaderCellDef> Fijas </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.fijas}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="picas">
              <mat-header-cell *matHeaderCellDef> Picas </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.picas}} </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="columnasTablaUsuario"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnasTablaUsuario;"></mat-row>
          </mat-table>
        </div>
        <div class="table">
          <mat-table [dataSource]="datosTablaMaquina" class="mat-elevation-z8">
    
            <ng-container matColumnDef="numeroMaquina">
              <mat-header-cell *matHeaderCellDef> Número </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.numeroMaquina}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="fijas">
              <mat-header-cell *matHeaderCellDef> Fijas </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.fijas}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="picas">
              <mat-header-cell *matHeaderCellDef> Picas </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.picas}} </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="columnasTablaMaquina"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnasTablaMaquina;"></mat-row>
          </mat-table>
        </div>
      </div>
      
    </form>
</div>


