
.table{
    padding-top: 2em;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.resultado{
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.example-full-width{
    min-width: 270px;
}

.configuracion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.juego{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}